bin
obj
*.suo
*.user
*.orig
*.sdf
*.opensdf
ipch
debug/
release/
NuGet/
TestResults/
BuildResults.xml
*.results.xml
*.log
*.wrn
*.err
intermediate
*.metaproj
*.tmp
*.VC.opendb
*.VC.db
*.binlog
packages/
.vs/
Microsoft.VisualStudio.Glass
/Iris/Programs/*.dll
/Iris/Programs/*.exe
/Iris/Programs/*.pdb
/Iris/ic/Properties/launchSettings.json
/Iris/xplat-package/Properties/launchSettings.json
