<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
  ** IMPORTANT!!! **
  * When changing this file, also update packages.props
  -->

  <package id="Microsoft.VSSDK.Debugger.VSDebugEng" version="17.0.1051901-preview" developmentDependency="true" targetFramework="native" />
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="17.0.1051901-preview" developmentDependency="true" />
</packages>