<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c)  Microsoft.  All Rights Reserved.
  Licensed under the MIT license. See LICENSE file in the project root for full license information.
 -->

<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
