<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
  ** IMPORTANT!!! **
  * When changing this file, also update packages.props
  -->

  <package id="Microsoft.VSSDK.Debugger.VSDebugEng" version="16.0.2032702" developmentDependency="true" targetFramework="native" />
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="16.0.2032702" developmentDependency="true" />

</packages>
